{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<!-- Card container -->
<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <div class="card shadow-sm rounded-4">

            <!-- Card Header -->
            <div class="card-header text-center">
                <h4>Sign In</h4>
            </div>

            <!-- Card Body -->
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-outline-primary w-100 mt-3">Sign In</button>
                </form>
            </div>

            <!-- Card Footer -->
            <div class="card-footer text-body-secondary text-center" style="align-items: center">
                <div class="small">
                    Don't have an account? <a href="{% url 'sign-up' %}">Sign Up</a>
                    <hr style="margin: 5px">
                    Forgot password? <a href="{% url 'reset-password' %}">Reset Password</a>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}
